<div class= 'show_hide_urls'>
  <% if result.empty? %>
    <div> No data! </div>
  <% else
    result.each do |url, parent, code, redirect| 
      if redirect %>
        <div> <%= "#{code}: #{url} [redirects to: #{redirect}] [parent-> #{parent}]" %> </div>
      <% else %>
        <div> <%= "#{code}: #{url} [parent-> #{parent}]" %> </div>
      <% end %>
    <% end %>
  <% end %>
</div>
