%h1 SEO checklist
=link_to 'Check whole website', comfy_admin_cms_seos_wait_path
%table{:border => "1", :style => "width: 100%; border-collapse: collapse;"}
  %thead
    %tr
      %th content
      %th linking
      %th technical aspects
      %th user experience
  %tbody
    %tr
      /content
      %td
        %li content
        %li no duplicate content
        %li content formatting
        %li key pages are optimized
        %li all pages have titles, meta description, unique content
        %li amount of content versus ads
      /linking
      %td
        %li links
        %li devalue links
        %li links in content
        %li vertical linking structures are in place
        %li horizontal linking structures are in place
        %li breadcrump navigation
        %li use user sitemap
        %li proper navigation in footer
        %li redirects
        %li URLs are SEO friendly
      /technical aspects
      %td
        %li check robots.txt
        %li check sitemap.xml
        %li meta tags/data
        %li optimize page load
        %li optimize for different languages
        %li error tests
      /user experience
      %td
        %li optimized for different browsers and devices
        %li international optimized
        %li social media integration
        %li (navigation is easy)
        %li (webpage has Favicon and searching function)
        %li (every content is accessible with three clicks)
